---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - orchestration.orchestration.hiro.io
  resources:
  - orchestrationprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - orchestration.orchestration.hiro.io
  resources:
  - orchestrationprofiles/finalizers
  verbs:
  - update
- apiGroups:
  - orchestration.orchestration.hiro.io
  resources:
  - orchestrationprofiles/status
  verbs:
  - get
  - patch
  - update
